<div class="main_contents">
    <% @posts.each do |post| %>
        <div class="js-modal-open">
          <a><%= link_to post.title, post_path(post), remote: true, id: "js-post-title" %></a>
        </div>
  <% end %>
</div>

<div class="js-modal">
  <div class="modal__bg js-modal-close"></div>
  <div id="modal__content">
  </div>
</div>