<%= link_to "作成", new_post_path, remote: true, class: "scroll-button" %>

<div id="main_contents">
  <%= render partial: 'posts/post' %>
</div>

<div class="js-modal">
  <div class="modal__bg js-modal-close"></div>
  <div id="modal__content">
  </div>
</div>