<% if user_signed_in? %>
    <% if post.liked_by?(current_user) %>
        <p><%= link_to post.likes.count, post_like_path(post.id, current_user.id), method: :delete, remote: true, class: "fas fa-heart like" %></p>
    <% else %>
        <p><%= link_to post.likes.count, post_likes_path(post.id), method: :post, remote: true, class: "far fa-heart unlike" %></p>
    <% end %>
<% else %>
    <p><%= link_to post.likes.count, new_user_session_path, class: "far fa-heart unlike" %></p>
<% end %>