/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/** {
  font-size: 0px;
}*/

* {
  font-size: 20px;
}

li {
  list-style-type: none;
  margin: 0 0 0 auto;
  text-align: right;

}

input[type="text"] {
  width: 97%;
  min-height: 25px;
}
textarea {
  width: 97%;
  margin: 20px auto;
  min-height: 100px;
}

.login {
  margin: 0;
  padding: 0;
  background-image: url(login.jpg);
  background-size: 100% auto;
  display: inline;
}

#scroll_to_top {
  /* 「TOPに戻る」ボタンにカーソルを載せた時に、
  カーソルが指のマークになるようにしています。 */

  /* 常にページの右下に表示されるように固定します。 */
  position: fixed;  /* 位置を固定させます。 */
  bottom: 5%;
  right: 5%;
  cursor: pointer;
}

ul.skill-list {
  padding: 0;
}

nav.pagination {
  display: none;
}
/*#scroll_to_top.button {
   「TOPに戻る」ボタンのデザインを整えています。 
  padding: 0 15px;
  font-size: 15px;
  display: inline-block;
  border: 1px solid #999;
  border-radius: 1em;
  background-color: #eee;
  box-shadow: 0 8px 10px rgba(0, 0, 0, .3);
  cursor: pointer;
}*/

/*#scroll_to_top.button:hover {
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .4);
}*/